<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.opkcloud.log.OperateLoggerMapper" >
  <resultMap id="BaseResultMap" type="com.opkcloud.log.OperateLogger" >
    <result column="num_id" property="numId" jdbcType="VARCHAR" />
    <result column="reg_id" property="regId" jdbcType="VARCHAR" />
    <result column="user_id" property="userId" jdbcType="VARCHAR" />
    <result column="organization" property="organization" jdbcType="VARCHAR" />
    <result column="organization_id" property="organizationId" jdbcType="VARCHAR" />
    <result column="user_name" property="userName" jdbcType="VARCHAR" />
    <result column="operate_time" property="operateTime" jdbcType="VARCHAR" />
    <result column="terminal_id" property="terminalId" jdbcType="VARCHAR" />
    <result column="operate_type" property="operateType" jdbcType="INTEGER" />
    <result column="operate_result" property="operateResult" jdbcType="VARCHAR" />
    <result column="error_code" property="errorCode" jdbcType="VARCHAR" />
    <result column="operate_name" property="operateName" jdbcType="VARCHAR" />
    <result column="operate_condition" property="operateCondition" jdbcType="VARCHAR" />
    <result column="operate_number" property="operateNumber" jdbcType="INTEGER" />
    <result column="operate_table" property="operateTable" jdbcType="VARCHAR" />
    <result column="operate_key" property="operateKey" jdbcType="VARCHAR" />
    <result column="msg" property="msg" jdbcType="VARCHAR" />
    <result column="operatenape" property="operatenape" jdbcType="VARCHAR" />
    <result column="path" property="path" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    num_id, reg_id, user_id, organization, organization_id, user_name, operate_time, 
    terminal_id, operate_type, operate_result, error_code, operate_name, operate_condition, 
    operate_number, operate_table, operate_key, msg, operatenape, path
  </sql>

  <insert id="insert" parameterType="com.opkcloud.log.OperateLogger" >
    insert into operate_logger (num_id, reg_id, user_id, 
      organization, organization_id, user_name, 
      operate_time, terminal_id, operate_type, 
      operate_result, error_code, operate_name, 
      operate_condition, operate_number, operate_table, 
      operate_key, msg, operatenape, 
      path)
    values (#{numId,jdbcType=VARCHAR}, #{regId,jdbcType=VARCHAR}, #{userId,jdbcType=VARCHAR}, 
      #{organization,jdbcType=VARCHAR}, #{organizationId,jdbcType=VARCHAR}, #{userName,jdbcType=VARCHAR}, 
      #{operateTime,jdbcType=VARCHAR}, #{terminalId,jdbcType=VARCHAR}, #{operateType,jdbcType=INTEGER}, 
      #{operateResult,jdbcType=VARCHAR}, #{errorCode,jdbcType=VARCHAR}, #{operateName,jdbcType=VARCHAR}, 
      #{operateCondition,jdbcType=VARCHAR}, #{operateNumber,jdbcType=INTEGER}, #{operateTable,jdbcType=VARCHAR}, 
      #{operateKey,jdbcType=VARCHAR}, #{msg,jdbcType=VARCHAR}, #{operatenape,jdbcType=VARCHAR}, 
      #{path,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.opkcloud.log.OperateLogger" >
    insert into operate_logger
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="numId != null" >
        num_id,
      </if>
      <if test="regId != null" >
        reg_id,
      </if>
      <if test="userId != null" >
        user_id,
      </if>
      <if test="organization != null" >
        organization,
      </if>
      <if test="organizationId != null" >
        organization_id,
      </if>
      <if test="userName != null" >
        user_name,
      </if>
      <if test="operateTime != null" >
        operate_time,
      </if>
      <if test="terminalId != null" >
        terminal_id,
      </if>
      <if test="operateType != null" >
        operate_type,
      </if>
      <if test="operateResult != null" >
        operate_result,
      </if>
      <if test="errorCode != null" >
        error_code,
      </if>
      <if test="operateName != null" >
        operate_name,
      </if>
      <if test="operateCondition != null" >
        operate_condition,
      </if>
      <if test="operateNumber != null" >
        operate_number,
      </if>
      <if test="operateTable != null" >
        operate_table,
      </if>
      <if test="operateKey != null" >
        operate_key,
      </if>
      <if test="msg != null" >
        msg,
      </if>
      <if test="operatenape != null" >
        operatenape,
      </if>
      <if test="path != null" >
        path,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="numId != null" >
        #{numId,jdbcType=VARCHAR},
      </if>
      <if test="regId != null" >
        #{regId,jdbcType=VARCHAR},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=VARCHAR},
      </if>
      <if test="organization != null" >
        #{organization,jdbcType=VARCHAR},
      </if>
      <if test="organizationId != null" >
        #{organizationId,jdbcType=VARCHAR},
      </if>
      <if test="userName != null" >
        #{userName,jdbcType=VARCHAR},
      </if>
      <if test="operateTime != null" >
        #{operateTime,jdbcType=VARCHAR},
      </if>
      <if test="terminalId != null" >
        #{terminalId,jdbcType=VARCHAR},
      </if>
      <if test="operateType != null" >
        #{operateType,jdbcType=INTEGER},
      </if>
      <if test="operateResult != null" >
        #{operateResult,jdbcType=VARCHAR},
      </if>
      <if test="errorCode != null" >
        #{errorCode,jdbcType=VARCHAR},
      </if>
      <if test="operateName != null" >
        #{operateName,jdbcType=VARCHAR},
      </if>
      <if test="operateCondition != null" >
        #{operateCondition,jdbcType=VARCHAR},
      </if>
      <if test="operateNumber != null" >
        #{operateNumber,jdbcType=INTEGER},
      </if>
      <if test="operateTable != null" >
        #{operateTable,jdbcType=VARCHAR},
      </if>
      <if test="operateKey != null" >
        #{operateKey,jdbcType=VARCHAR},
      </if>
      <if test="msg != null" >
        #{msg,jdbcType=VARCHAR},
      </if>
      <if test="operatenape != null" >
        #{operatenape,jdbcType=VARCHAR},
      </if>
      <if test="path != null" >
        #{path,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>

</mapper>